@page
@using FlipSwitch.Abstractions
@model IndexModel
@inject IConfigurator Configurator
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Teste is @(await Configurator.IsFeatureEnabled("Teste")).</p>
</div>