@page
@model FlipSwitch.Web.Pages.Configs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Config</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" onsubmit="readJson()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Config.Name" class="control-label"></label>
                <input asp-for="Config.Name" class="form-control" />
                <span asp-validation-for="Config.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div id="jsoneditor" style="width: 400px; height: 400px;"></div>
                <input type="hidden" asp-for="Config.Value" id="jsonValue"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts
{
    <script>
        // create the editor
        const container = document.getElementById("jsoneditor")
        const options = {
            mode: 'text',
            navigationBar: false,
            
        }
        const editor = new JSONEditor(container, options)

        // set json
        const initialJson = {
            "Array": [1, 2, 3],
            "Boolean": true,
            "Null": null,
            "Number": 123,
            "Object": {"a": "b", "c": "d"},
            "String": "Hello World"
        }
        editor.set(initialJson)

        // get json
        const updatedJson = editor.get()
        
        function readJson() {
            const jsonValue = document.getElementById("jsonValue")
            const json = editor.getText();
            console.log(json);
            jsonValue.value = json;
            return true;
        }
    </script>
}
