@page
@model FlipSwitch.Web.Pages.Configs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Config</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" onsubmit="readJson()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Config.Id" />
            <div class="form-group">
                <label asp-for="Config.Name" class="control-label"></label>
                @Html.DisplayFor(model => model.Config.Name)
            </div>
            <div class="form-group">
                <div id="jsoneditor" style="width: 400px; height: 400px;"></div>
                <input type="hidden" asp-for="Config.Value" id="jsonValue"/>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts
{
    <script>
        // create the editor
        const container = document.getElementById("jsoneditor")
        const options = {
            mode: 'text',
            navigationBar: false,
            
        }
        const editor = new JSONEditor(container, options)

        // set json
        const jsonValue = document.getElementById("jsonValue");
        const json = JSON.parse(jsonValue.value);
        editor.set(json);
        
        function readJson() {
            const jsonValue = document.getElementById("jsonValue")
            const json = editor.getText();
            console.log(json);
            jsonValue.value = json;
            return true;
        }
    </script>
}